.section {
  background-color: #ffffff;
  padding: 0rem 4rem 2rem;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  background-color: #034472;
  padding: 0rem 4rem 4rem 4rem;
  border-radius: 16px;
}

/* Section Title */
.sectionTitle {
  background-color: #034472;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 64px;
  margin-bottom: 1rem;
}

/* Card Layout */
.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
  gap: 3.2rem;
}

/* Card Structure */
.card {
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 8px 4px rgba(0, 126, 167, 100%);
}

/* Title (Colored Area) */
.cardHeader {
  background-color: #a8ddf0;
  padding: 1rem;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  color: #034472;
  text-align: center;
}

/* Description (White Area) */
.cardBody {
  background-color: #ffffff;
  padding: 1rem 1.25rem;
  flex-grow: 1;
}

.cardDescription {
  font-size: 1rem;
  color: #000000;
  line-height: 1.5;
  text-align: center;
}

/* Responsive */
@media (max-width: 1024px) {
  .cardsWrapper {
    grid-template-columns: repeat(2, 1fr); /* 2 per row on tablets */
  }
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 1.6rem;
    padding: 0.75rem 1.5rem;
  }

  .cardTitle {
    font-size: 1.1rem;
  }

  .cardDescription {
    font-size: 0.95rem;
  }

  .cardsWrapper {
    grid-template-columns: 1fr; /* 1 per row on mobile */
  }
  .container {
    padding: 1rem 1rem 1rem 1rem;
  }
  .section {
    padding: 0rem 1.5rem 2rem;
  }
}
