.section {
  background-color: #fff;
  padding: 4rem 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.titleWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  background-color: #00171f;
  padding: 1rem 3rem;
  border-radius: 64px;
  text-align: center;
  margin: 0;
}

/* Cards layout */
.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

/* Base card style */
.card {
  border-radius: 12px;
  box-shadow: 2px 6px 15px rgba(0, 0, 0, 0.08);
  padding: 1rem;
  flex: 1 1 180px;
  max-width: 360px;
  transition: transform 0.3s ease;
  color: #ffffff;
}

.card:hover {
  transform: translateY(-6px);
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  text-align: center;
}

/* Description box */
.cardDescBox {
  background-color: #ffffff;
  padding: 0.4rem;
  border-radius: 8px;
  line-height: 1rem;
}

.cardDesc {
  font-size: 1.2rem;
  color: #1e293b;
  line-height: 1.6;
  text-align: center;
}

/* Individual card colors */
.card1 {
  background-color: #1c85cb;
}

.card2 {
  background-color: #003459;
}

.card3 {
  background-color: #007ea7;
}

.card4 {
  background-color: #00171f;
}

.card5 {
  background-color: #1c85cb;
}

/* #007ea7 */

/* Tablet (≤1024px) */
@media (max-width: 1024px) {
  .title {
    font-size: 1.75rem;
    padding: 1.25rem 3.5rem;
  }

  .card {
    flex: 1 1 45%;
    max-width: 100%;
  }

  .cardTitle {
    font-size: 1.1rem;
  }

  .cardDesc {
    font-size: 1.05rem;
  }
}

/* Mobile (≤768px) */
@media (max-width: 768px) {
  .section {
    padding: 2rem 1rem; /* reduce top/bottom from 4rem → 2rem */
  }
  .titleWrapper {
    margin-bottom: 1.5rem;
    justify-content: center;
  }

  .title {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 24px;
  }

  .cardsWrapper {
    flex-direction: column;
    gap: 1rem;
  }

  .card {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .cardTitle {
    font-size: 1.2rem;
  }

  .cardDesc {
    font-size: 1rem;
  }

  .cardDescBox {
    padding: 0.8rem;
  }
}
