.aboutBannerImg {
  background: url("/images/about-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 260px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 110px 0 60px;
}

.bannerTitle {
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 767.98px) {
  .aboutBannerImg {
    height: 200px;
    padding: 70px 0 40px;
  }
  
  .bannerTitle {
    font-size: 1.8rem;
  }
}