.MobileAppSection {
  background-image: linear-gradient(
      rgba(0, 126, 167, 0.9),
      rgba(0, 126, 167, 0.9)
    ),
    url("../../../assets/placeholder-image.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6rem 1rem 6rem 1rem;
  text-align: center;
  color: white;
}

.heading {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.subtext {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

.button {
  background-color: #00171f;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #003459;
}

.note{
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}