.news-letter {
    background-color: #003459 !important;
}

.newsletter-card {
    background: #FFFFFF !important;
}

.news-letter-btn {
    background: #003459;
    border: none !important;
    padding: 8px;
    color: white;
    font-weight: 600;
    border-radius: 7px;
}