.contact-card{
    background-color: #003459 !important;
}
.contact-icon{
    background-color: #2563EB;
    padding: 15px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}
.contact-text-color{
    color: rgb(241, 239, 239);
}