.home-service-bg{
  background-color: #e6ecef;
}

.service-card {
  background-color: #1e293b;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-6px);
}

.service-img {
  height: 220px;
  background-size: cover;
  background-position: center;
}


.btn-gradient {
  background: linear-gradient(90deg, #2563eb 0%, #9333ea 100%);
  color: #fff;
  border-radius: 25px;
  padding: 6px 16px;
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-block;
}

.btn-gradient:hover {
  background: transparent;
  color: white;
  border: 1px solid #9333ea !important;
}

.custom-card-text{
    color:rgb(88, 90, 92);
    font-weight: 600;
    font-size: 17px;

}
.custom-card-body{
    background-color: #FFFFFF !important;
}

.custom-card{
    border-radius: 20px !important;
}
