.our-expertise-bg{
    background-color: #003459;
}
.expertise-card:hover{
    transform: scale(1.1);
}
.expertise-card{
    background-color: #FFFFFF !important;
}
.programming-btn{
    border: none;;
    background-color: rgb(205 211 224) !important;
    margin: 0px 5px;
    padding: 8px 14px;
    border-radius: 18px;
    color:rgb(57, 56, 56);
}
    .programming-btn:hover{
    transform: scale(0.7);
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 2.5rem;
}

.tabGrid {
  row-gap: 0.75rem;
  column-gap: 0.75rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.tabButton {
  background-color: #fff;
  border: none;
  padding: 0.5rem 1.25rem;
  border-radius: 6px;
  font-weight: 500;
  color: #000;
  transition: all 0.3s ease;
  min-width: 120px;
  white-space: nowrap;
}

.active {
  background-color: #000 !important;
  color: #fff !important;
  font-weight: 600;
 border: 1px solid black !important; 
}

.techCard {
  background-color: #e80a0a ;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  font-weight: 500;
  font-size: 0.95rem;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease;
  min-width: 100%;
}

@media (min-width: 576px) {
  .techCard {
    min-width: auto;
  }
}

.techCard:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}



