.stillNotSureSection {
  background-color: #ffffff;
  padding: 4rem 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.card {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 2.5rem 2rem;
  box-shadow: 4px 6px 14px rgba(0, 126, 167, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  border: #00688a 1px solid;
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #1e293b;
}

.ctaButton {
  background-color: #007ea7;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.ctaButton:hover {
  background-color: #00688a;
}

.arrow {
  margin-left: 0.5rem;
  font-weight: bold;
}

/* Responsive behavior */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
    text-align: center;
  }
}
