.section {
  background-color: #ffffff;
  padding: 4rem 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
  color: #1c85cb;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.centeredRow {
  justify-content: center;
}

.card {
  flex: 1 1 calc(33.333% - 1.5rem);
  min-width: 250px;
  max-width: 350px;
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 1px 8px 12px rgba(28, 133, 203, 0.9);
  transition: transform 0.3s ease;
  border: 2px solid #1c85cb;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  font-size: 1.25rem;
  font-weight: 650;
  margin-bottom: 0.75rem;
}

.card p {
  color: #000;
  font-size: 1.2rem;
  line-height: 1.5;
}

/* Large tablets and small laptops (≤1024px) */
@media (max-width: 1024px) {
  .row {
    justify-content: center;
  }
  .card {
    flex: 1 1 calc(45% - 1.5rem);
    max-width: 400px;
  }
}

/* Tablets (≤768px) */
@media (max-width: 768px) {
  .section {
    padding: 0rem 0.4rem 2rem;
  }

  .container {
    padding: 0rem 1rem 2rem;
  }

  .heading {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .row {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  .card {
    flex: 1 1 100%;
    max-width: 500px;
    width: 100%;
  }
  .card h3 {
    font-size: 1.15rem;
  }
  .card p {
    font-size: 1rem;
  }
}

/* Small mobile (≤480px) */
@media (max-width: 480px) {
  .section {
    padding: 0rem 0.4rem 0rem;
  }

  .container {
    padding: 0rem 1rem 2rem;
  }

  .heading {
    font-size: 1.75rem;
  }
  .card {
    padding: 1rem;
    border-radius: 8px;
  }
  .card h3 {
    font-size: 1rem;
  }
  .card p {
    font-size: 0.95rem;
  }
}
